body {
  font-weight: 400;
  font-size: 16px;
  overflow: hidden;
  margin: 0;
  width: 100vw;
  height: 100vh;
  line-height: 1.6;
  font-family: Inter, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

#app {
  display: flex;
  flex-direction: column;
  overflow: hidden;
  height: 100vh;
  width: 100vw;
}

a {
  color: rgb(20, 68, 151);
  transition: all 0.4s;
}
a:hover {
  text-decoration: underline;
  text-decoration-thickness: 3px;
}

.progress_list {
  position: absolute;
  left: 0;
  right: 0;
  height: 100px;
  bottom: 0;
  overflow-y: scroll;
  padding: 10px;
  border-top: 2px solid rgb(20, 68, 151);
}
.progress_list .current-status {
  color: grey;
}
.progress_list .completed-status {
  color: green;
}
.progress_list .error-status {
  color: red;
}

.actionButton {
  padding: 5px;
  border: 2px solid rgb(20, 68, 151);
  font-size: 20px;
  width: -moz-max-content;
  width: max-content;
  position: absolute;
  box-sizing: border-box;
  right: 10px;
  bottom: 10px;
  font-weight: 300;
}
.actionButton:hover {
  background-color: rgb(20, 68, 151);
  color: white;
  transition: all 0.3s;
}
.actionButton:disabled {
  background-color: grey;
  color: white;
  border: 2px solid grey;
}

#comfirm {
  left: 10px;
  right: 10px;
  width: auto;
  bottom: 140px;
}

.topbar {
  position: relative;
  display: flex;
  top: 0;
  left: 0;
  right: 0;
  width: auto;
  height: 50px;
  box-sizing: border-box;
  background-color: rgb(20, 68, 151);
  z-index: 2;
}

.topbar-left, .topbar-right {
  position: absolute;
  display: flex;
  top: 0;
  left: 0;
  width: auto;
  height: 50px;
  padding: 0 10px;
  box-sizing: border-box;
}

.topbar-right {
  left: auto;
  right: 0;
}

.topbar-link-div {
  margin: auto 10px;
  font-size: 20px;
  box-sizing: border-box;
}
.topbar-link-div * {
  color: white;
}

.app-container {
  position: relative;
  display: block;
  flex-direction: row;
  width: 100%;
  height: 80px;
  flex: 1;
}

.main-panel {
  position: absolute;
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  width: 100%;
  height: 100%;
  box-sizing: border-box;
}

.option-panel {
  position: absolute;
  width: 360px;
  height: calc(100% - 20px);
  background-color: #fff;
  opacity: 0.25;
  margin: 10px;
  padding: 10px 0;
  box-sizing: border-box;
  border: 1px solid #999;
  border-radius: 5px;
  box-shadow: 2px 2px 6px 0 rgba(0, 0, 0, 0.2);
  z-index: 1;
  transition: all 0.3s;
}
.option-panel:hover {
  box-shadow: 4px 4px 12px 0 rgba(0, 0, 0, 0.4);
  opacity: 0.9;
}
.option-panel .option-line {
  width: calc(100% - 30px);
  font-size: 16px;
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  margin: 0 15px;
  padding: 8px 0;
  align-items: center;
  height: 40px;
}
.option-panel .option-line .option-input {
  display: flex;
  align-items: center;
}
.option-panel .option-line .option-info .option-description {
  font-size: 0.8em;
  color: grey;
}
.option-panel .option-line input, .option-panel .option-line select {
  width: auto;
  flex: 1;
  border-radius: 0;
  border: none;
  border-bottom: 2px solid grey;
  height: 24px;
  flex: 0 1 auto;
  text-align: center;
  font-size: 14px;
  background-color: #fff;
}
.option-panel .option-line input:focus-visible, .option-panel .option-line select:focus-visible {
  border: none;
  border-bottom: 2px solid rgb(20, 68, 151);
  outline: none;
}
.option-panel .option-line input:hover, .option-panel .option-line select:hover {
  border-bottom: 2px solid rgb(20, 68, 151);
}
.option-panel .option-line input[type=date], .option-panel .option-line select[type=date] {
  font-size: 14px;
}
.option-panel .option-line input[type=radio], .option-panel .option-line select[type=radio] {
  height: 18px;
}
.option-panel .option-line input[type=radio]:checked, .option-panel .option-line select[type=radio]:checked {
  border: 12px solid rgb(20, 68, 151);
}
.option-panel .option-line input[type=text]:hover, .option-panel .option-line select[type=text]:hover {
  cursor: text;
}

.doc-panel {
  position: absolute;
  transform: translate(-50%, -50%);
  top: 50%;
  left: 50%;
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  width: 95%;
  height: 95%;
  background-color: #fff;
  margin: auto;
  box-sizing: border-box;
  border-radius: 10px;
  border: 2px solid #999;
  z-index: 1;
}
.doc-panel .doc-toc {
  position: absolute;
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  top: 5%;
  width: 30%;
  height: 90%;
  background-color: #fff;
  border-right: 2px solid #999;
  box-sizing: border-box;
}

.map-panel {
  position: absolute;
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  width: 100%;
  height: 100%;
  background-color: #eee;
  box-sizing: border-box;
}

.doc-background {
  position: absolute;
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  z-index: -1;
}

label {
  min-width: -moz-max-content;
  min-width: max-content;
}

.indentation-1 {
  padding-left: 1rem;
}

.data-router-list {
  display: flex;
  flex-wrap: wrap;
}
.data-router-list a {
  margin: 5px 10px;
}

input#time {
  position: relative;
  width: 80%;
}

.mapBox {
  position: relative;
  height: 90%;
  border: 2px solid rgb(20, 68, 151);
  overflow: scroll;
}

img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}/*# sourceMappingURL=style.css.map */